.board {
  max-width: 330px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.37);
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background-image: linear-gradient(-180deg, #ebebeb 0%, #dcdddf 48%, #c4c5c7 99%);
  box-shadow:
    0 16px 28px 0 rgba(0, 0, 0, 0.22),
    0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.board_header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width:300px;
  text-shadow:
    -4px -4px #fff,
    -6px -6px #fff,
    -4px 4px #fff,
    -6px 6px #fff,
    4px 4px #fff,
    6px 6px #fff,
    4px -4px #fff,
    6px -6px #fff,
    -4px -4px 3px #bbb,
    -4px 4px 3px #bbb,
    4px 4px 3px #bbb,
    4px -4px 3px #bbb;
  color: steelblue;
  font-size: 15px;
  font-weight: bold;
  transition: all 1s;
  border-radius: 10px;
  &:hover {
    color: yellowgreen;
  }
}
