.board {
  max-width: 330px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.37);
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  background-image: linear-gradient(-180deg, #ebebeb 0%, #dcdddf 48%, #c4c5c7 99%);
  box-shadow:
    0 16px 28px 0 rgba(0, 0, 0, 0.22),
    0 25px 55px 0 rgba(0, 0, 0, 0.21);
}
.board_header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width:300px;
  text-shadow:
    -1px -1px #fff,
    -2px -2px #fff,
    -1px 1px #fff,
    -2px 2px #fff,
    1px 1px #fff,
    2px 2px #fff,
    1px -1px #fff,
    2px -2px #fff,
    -3px -3px 2px #bbb,
    -3px 3px 2px #bbb,
    3px 3px 2px #bbb,
    3px -3px 2px #bbb;
  color: steelblue;
  font-size: 15px;
  transition: all 1s;
  &:hover {
    color: yellowgreen;
  }
}
