.board {
  width: 95vw;
  height: 95vh;
  overflow-y: auto;
  overflow-x: auto;
}
.board_header {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-shadow:
    -1px -1px #fff,
    -2px -2px #fff,
    -1px 1px #fff,
    -2px 2px #fff,
    1px 1px #fff,
    2px 2px #fff,
    1px -1px #fff,
    2px -2px #fff,
    -3px -3px 2px #bbb,
    -3px 3px 2px #bbb,
    3px 3px 2px #bbb,
    3px -3px 2px #bbb;
  color: steelblue;
  font-size: 20px;
  transition: all 1s;
  &:hover {
    color: yellowgreen;
  }
}

.boardH1 {
  display: flex;
}
.board_body {
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
}
.board_button {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #673ab7;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 10px;
  border-style: double;
  font-size: x-large;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 20px;
  transition: background-color 0.3s;
  &:hover {
    background-color: #1b05aa;
  }
}
.board_button_back {
  position: fixed;
  left: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #673ab7;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 10px;
  border-style: double;
  font-size: x-large;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 20px;
  transition: background-color 0.3s;
  opacity: 0.4;
  &:hover {
    background-color: #1b05aa;
  }
}

// Font

$font-m: 40px;
$font-s: 40px;

// Motif colors

$motif-base: #ff79e6;
$motif-low: #ffa6f7;
$motif-dark: #892276;
$motif-shadow: #ffe1f7;

// Common colors

$grey-high: #bdbdbd;
$grey-base: #dbdbdb;
$grey-low: #efefef;

// SVG

$svg-max-width: 180px;

// Input

$input-height: 48px;
$input-width: 100%;
$input-radius: 30px;
$input-border: 1px solid $grey-base;
$input-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);

// Spacing (margins && paddings)

$space-xl: 36px;
$space-l: 18px;
$space-m: 12px;
$space-s: 6px;

.board_inputForEditionNameBoard {
  width: $input-width;
  height: 100%;
  padding-left: $space-xl * 1.2;
  padding-right: $space-m;
  font-size: $font-m;
  border-radius: $input-radius;
  border: $input-border;
  font-family: SemplicitaPro;
  color: $motif-base;
  caret-color: $grey-base;
  outline: none;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
}
