.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-shadow:
    -1px -1px #fff,
    -2px -2px #fff,
    -1px 1px #fff,
    -2px 2px #fff,
    1px 1px #fff,
    2px 2px #fff,
    1px -1px #fff,
    2px -2px #fff,
    -3px -3px 2px #bbb,
    -3px 3px 2px #bbb,
    3px 3px 2px #bbb,
    3px -3px 2px #bbb;
  color: steelblue;
  font-size: 20px;
  transition: all 1s;
  &:hover {
    color: yellowgreen;
  }
}
.home_body {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.progress_bar {
  background-color: #d70a0a;
  height: 10px;
  width: 100%;
  border-radius: 5px;
}

.progress {
  height: 100%;
  border-radius: 5px;
  background-color: rgb(22, 22, 217);
}
