.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-shadow:
    -1px -1px #fff,
    -2px -2px #fff,
    -1px 1px #fff,
    -2px 2px #fff,
    1px 1px #fff,
    2px 2px #fff,
    1px -1px #fff,
    2px -2px #fff,
    -3px -3px 2px #bbb,
    -3px 3px 2px #bbb,
    3px 3px 2px #bbb,
    3px -3px 2px #bbb;
  color: steelblue;
  font-size: 24px;
  transition: color 0.3s, transform 0.3s;
  &:hover {
    color: yellowgreen;
    transform: scale(1.05);
  }
}

.home_body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.board_wrapper {
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
  &:hover {
    background-color: #1e07621d;
    transform: translateY(-5px);
  }
}

.iconDelete {
  color: cyan;
  font-size: x-large;
  cursor: pointer;
  border-radius: 5px;
  transition: color 0.3s, transform 0.3s;
  &:hover {
    color: red;
    transform: scale(1.2);
  }
}

.board {
  max-width: 330px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.37);
  border-radius: 15px;
  background-image: linear-gradient(-180deg, #ebebeb 0%, #dcdddf 48%, #c4c5c7 99%);
  box-shadow:
    0 16px 28px 0 rgba(0, 0, 0, 0.22),
    0 25px 55px 0 rgba(0, 0, 0, 0.21);
  transition: box-shadow 0.3s, transform 0.3s;
  &:hover {
    box-shadow:
      0 20px 30px 0 rgba(0, 0, 0, 0.25),
      0 30px 60px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }
}

.board_header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 300px;
  text-shadow:
    -4px -4px #fff,
    -6px -6px #fff,
    -4px 4px #fff,
    -6px 6px #fff,
    4px 4px #fff,
    6px 6px #fff,
    4px -4px #fff,
    6px -6px #fff,
    -4px -4px 3px #bbb,
    -4px 4px 3px #bbb,
    4px 4px 3px #bbb,
    4px -4px 3px #bbb;
  color: steelblue;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s, transform 0.3s;
  border-radius: 10px;
  &:hover {
    color: yellowgreen;
    transform: scale(1.05);
  }
}
.board_button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007BFF;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  max-height: 80px;
  width: 100%;

  &:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }

  &:active {
    background-color: #003d80;
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
  }

  svg {
    margin-right: 8px;
  }
}
