.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  width: 23%;
  background-color: rgb(46, 46, 115);
  padding: 1%;
  border: thick double #32a1ce;
}
.list-title {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-shadow:
    -1px -1px #fff,
    -2px -2px #fff,
    -1px 1px #fff,
    -2px 2px #fff,
    1px 1px #fff,
    2px 2px #fff,
    1px -1px #fff,
    2px -2px #fff,
    -3px -3px 2px #bbb,
    -3px 3px 2px #bbb,
    3px 3px 2px #bbb,
    3px -3px 2px #bbb;
  color: steelblue;
  font-size: 30px;
  
}
.list-body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  float: left;
  background: #9479fa;
}
.list-button {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  float: left;
}
