.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.wrapper {
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infopart {
  flex: 3;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.infopart h2,
.infopart h3 {
  color: #333;
  margin-bottom: 10px;
}

.infopart p {
  color: #666;
}

.users {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.user {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  border-radius: 50%;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.users button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.users button:hover {
  background-color: #0056b3;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
}

.operations {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.operations div {
  color: #ff4d4d;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 20px;
}

.operations h2 {
  color: #333;
  margin-bottom: 20px;
}

.operations button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.operations button:hover {
  background-color: #0056b3;
}
.titleContainer {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between title and input */
}

.titleText {
  font-size: 24px;
  font-weight: bold;
}

.inputRoot {
  flex: 1;
  background-color: #f4f4f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.inputInput {
  padding: 5px;
  font-size: 16px;
  color: #333;
}

.inputRoot:focus-within {
  border-color: #007bff;
}

.inputInput:focus {
  outline: none;
  border-color: #007bff;
}
