.wrapperCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 70px;
}
.card {
  display: flex;
  justify-content: flex-start;
  max-width: 300px;
  background: #02b875;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  margin: 20px;
  margin-top: 0;
  margin-bottom: 5px;
  box-shadow: 0px 2px 18px -4px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  width: 90%;
}
.card:nth-child(2) {
  background: #4181ee;
}
.card:last-child {
  background: #673ab7;
}
.card_title {
  margin: 5px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.2px;
}
// Font

$font-m: 20px;
$font-s: 20px;

// Motif colors

$motif-base: #ff79e6;
$motif-low: #ffa6f7;
$motif-dark: #892276;
$motif-shadow: #ffe1f7;

// Common colors

$grey-high: #bdbdbd;
$grey-base: #dbdbdb;
$grey-low: #efefef;

// SVG

$svg-max-width: 180px;

// Input

$input-height: 48px;
$input-width: 70%;
$input-radius: 30px;
$input-border: 1px solid $grey-base;
$input-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);

// Spacing (margins && paddings)

$space-xl: 26px;
$space-l: 8px;
$space-m: 2px;
$space-s: 6px;
.card_inputForEditionNameCard {
  width: $input-width;
  height: 80%;
  padding-left: $space-xl * 1.2;
  padding-right: $space-m;
  font-size: $font-s;
  border-radius: $input-radius;
  border: $input-border;
  font-family: SemplicitaPro;
  color: $motif-base;
  caret-color: $grey-base;
  outline: none;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
}
.cardIcon {
  color: #892276;
  font-size: $font-m;
}

.iconDelete {
  color: #df0c0c;
  margin: auto;
  font-size: $font-s;
  cursor: pointer;
}
.slotCard {
  opacity: 0.5;
  border: 5px solid blueviolet;
}

