.card {
  display: flex;
  justify-content: flex-start;
  max-width: 300px;
  background: #02b875;
  padding: 10px;
  box-sizing: border-box;
  color: #fff;
  margin: 20px;
  margin-top: 0;
  margin-bottom: 5px;
  box-shadow: 0px 2px 18px -4px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.card:nth-child(2) {
  background: #4181ee;
}
.card:last-child {
  background: #673ab7;
}
.card-title {
  margin: 5px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.2px;
}
