.board-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-shadow:
    -1px -1px #fff,
    -2px -2px #fff,
    -1px 1px #fff,
    -2px 2px #fff,
    1px 1px #fff,
    2px 2px #fff,
    1px -1px #fff,
    2px -2px #fff,
    -3px -3px 2px #bbb,
    -3px 3px 2px #bbb,
    3px 3px 2px #bbb,
    3px -3px 2px #bbb;
  color: steelblue;
  font-size: 20px;
  transition: all 1s;
  &:hover{
    color: yellowgreen;
  }
}
.board-body {
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
}
.board-button{
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #673ab7;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 10px;
  border-style: double;
  font-size: x-large;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 20px;
  transition: background-color 0.3s;
  &:hover{
    background-color: #1b05aa;
  }
}
.board-button-back{
  position: fixed;
  left:20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #673ab7;
  padding: 1rem 1.5rem;
  text-decoration: none;
  border-radius: 10px;
  border-style: double;
  font-size: x-large;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 20px;
  transition: background-color 0.3s;
  &:hover{
    background-color: #1b05aa;
  }
}
